<h1><%= @product.item %></h1>
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= image_tag(@product.img_file) %></td>
    </tr>
    <tr>
      <td><%= @product.description %></td>
      <td><%= @product.item %></td>
      <td><%= @product.price.to_i %></td>   
    </tr>
  </tbody>
</table>
<%= link_to "Back", "/" %>