<h1>Here are your Products</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
    <% begin %>
      <td><%= image_tag(product.img_file) %></td>
    <% rescue %>
      <td>No Photo</td>
    <% end %>
      <td><%= product.item %></td>
      <% if product.condition != "very good" then %>
      <td><%= product.price%> sale price:<%= @sale %></td>
      <% else %>
      <td><%= product.price%></td>
      <% end %>
      <td><%= link_to "View Details", "/products/#{product.pid}/" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
