<h1>Here are your Products</h1>



  <% @products.each do |product| %>
    <div class="card d-inline-block" style="width: 30%;">
      <div>
     
        <% begin %>
          <%= image_tag(product.img_file, :class => "", :style => "width: 100%") %>
        <% rescue %>
          No Photo
        <% end %>
      </div>
      <div>
          <%= product.item %>
          <% if product.condition == "very good" then %>
          <%= product.price %>
          <% elsif product.condition == "good" then %>
          sale price: $<%= (product.price.to_i * 0.9).to_i %>
          <% else %>
          sale price: $<%= (product.price.to_i * 0.8).to_i %>
          <% end %>
          <%= link_to "View Details", "/products/#{product.pid}/" %>
      
     
      
      </div>
  </div>
  <% end %>

 